{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
	<link rel="stylesheet" type="text/css" href="{% static 'css/viewprofile.css' %}"/>
	<title>	Profile</title>
</head>
<body>
{% for d in data %}

<div class="container rounded bg-white mt-5 mb-5"> <div class="row"> <div class="col-md-3 border-right"> <div class="d-flex flex-column align-items-center text-center p-3 py-5">
	<img class="rounded-circle mt-5" src="{{d.userpic.url}}"  style="width: 250px; height: 250px">
	<span class="font-weight-bold">{{d.user.username}}</span>
	
	<span class="text-black-50">{{d.user.email}}</span>
	<span class="text-black-50">{{d.contactNo}}</span>
	
	
</div> </div> 
<div class="col-md-5 border-right"> <div class="p-3 py-5"> <div class="d-flex justify-content-between align-items-center mb-3">
 <h4 class="text-right">Profile Settings</h4> 
</div>
<form action="" method = "POST"  enctype="multipart/form-data">
          {% csrf_token %}
 <div class="row mt-2">
  <div class="col-md-6">
  			<label class="labels">Name</label>
  			<input type="text" class="form-control" placeholder='firstName' value=""name='fname'>
  	</div>
  		 <div class="col-md-6">
  		 	<label class="labels">Surname</label>
  		 	<input type="text" class="form-control" value="" placeholder="surname" name='surname'>
  		 </div> 
  		</div> 
  		<div class="row mt-3"> 
  			<div class="col-md-12">
  				<label class="labels">PhoneNumber</label>
  				<input type="text" class="form-control" placeholder="enter phone number" value="" name='contact'>
  			</div>
  			 
  			  <div class="col-md-12">
  			  	<label class="labels">Email ID</label>
  			  	<input type="text" class="form-control" placeholder="enter email id" value="" name='mailid'></div>
  			  	 <div class="col-md-12">
  			  	<label class="labels">Category</label>
        			<select name="category" class='form-control'>
                      <option value="Electronics">Electronics</option>
                      <option value="Clothing">Clothing</option>
                      <option value="Furniture">Furniture</option>
                      <option value="Books">Books</option>
        			</select></div>
 							  			  	 <div class="col-md-12">
 							  			  	 	<label class="labels">Change Image</label>
 							  			  	 	<input type="file" class='form-control' name='pic'>
 							  			  	 </div>
  			  	
  			  		  	  <div class="mt-5 text-center">
  			  		  	  	<button class="btn btn-primary profile-button" href='{% url "profile" %}'>Save Profile</button>
  			  		  	  </div>		
  			  		  	   </div>
  			  		  	    </div>
  			  		  	  </form>
  			  		  	  {% endfor %}
  			  		  	     
</div>
</div>
</div>
</body>
</html>